body {
	overflow-x: hidden;
}

#page_wrapper {
	position: relative;
	z-index: 2;
	background-color: $gray-100;
}

main {
	margin-top: 80px;
	position: relative;
	min-height: calc(100vh - 80px - 56px - 1rem); /* - Header, Footer, and Footer Margin */
}

button {
	&:focus {
		outline: none;
	}
}

.infoblocks {
	.card-img-top {
		height: 220px;
		object-fit: cover;
	}
}

.card {
	border: none;
	@extend .shadow;
	.overlay-seen-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: visible;
		transition: all .2s linear;
		.inner {
			padding: 1rem;
			position: absolute;
			bottom: 50%;
			text-align: center;
			width: 100%;
			right: 50%;
			transform: translate(50%, 50%);
		}
	}
	.overlay-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		overflow: hidden;
		background-color: $primary;
		transition: all .2s linear;
		.inner {
			padding: 1rem;
			position: absolute;
			bottom: 50%;
			right: 50%;
			width: 100%;
			transform: translate(50%, 50%);
			p {
				margin-bottom: 0;
				color: $white;
			}
		}
	}
	.col {
		&:not(:last-of-type) {
			border-right: 1px solid $gray-200;
		}
	}
	&:hover {
		.overlay-seen-container {
			overflow: hidden;
			height: 0;
		}
		.overlay-container {
			overflow: visible;
			height: 100%;
		}
	}
}

/* Responsive Video Embed 16:9 */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.headerSlider {
	.item {
		height: 600px;
		overflow: hidden;
		position: relative;
		img,
		.upload_video {
			height: 100%;
			-o-object-fit: cover;
			   object-fit: cover;
			-o-object-position: center center;
			   object-position: center center;
		}
		.text-container {
			position: absolute;
			width: 100%;
			height: auto;
			bottom: 0;
			padding: 2rem;
			z-index: 100;
			color: $white;
			background-color: rgba(0,0,0, .6);
			.inner {
				position: relative;
				width: 90%;
				z-index: 2;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
	.owl-dots {
		position: absolute;
		right: 15px;
		bottom: 15px;
		background-color: transparent;
		.owl-dot {
			span {
				transition: all .5s linear;
				border: 1px solid $blue;
			}
			&.active,
			&:hover {
				span {
					border: 1px solid $white;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.item {
			height: 510px;
			.text-container {
				width: 60%;
				bottom: 15%;
				.inner {
					width: 70%;
				}
			}
		}
		.owl-dots {
			left: 48%;
			right: unset;
			bottom: 15%;
		}
	}
	@include media-breakpoint-up(xl) {
		.item {
			height: 655px;
			.text-container {	
				width: 716.8px;
			}
		}
		.owl-dots {
			left: 590px;
		}
	}
}

.owl-nav {
	margin: 0;
	position: absolute;
	bottom: 50%;
	width: 100%;
	transform: translateY(50%);
	.owl-prev,
	.owl-next {
		margin: 0;
		position: absolute;
		bottom: 50%;
		transform: translateY(50%);
		&:hover {
			background: transparent !important;
		}
	}
	.owl-prev {
		left: -60px;
	}
	.owl-next {
		right: -60px;
	}
}

.shortlink-item {
	h5 {
		color: $white;
	}
}

.iconbox {
	.fa-stack {
		transition: .9s;
		color: $white;
	}
	&:hover {
		.fa-stack {
			transform: rotateY(180deg);
			color: $black;
		}
	}
}

.course-container {
	max-width: 100%;
	@include media-breakpoint-up(xl) {
		max-width: 1400px;
	}
}

.courseSlider {
	.owl-stage {
		background: $gray-100;
		padding-bottom: 75px;
	}
	.card-img-top {
		height: 240px;
		-o-object-position: center;
		   object-position: center;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.card-text {
		min-height: 200px;
	}
	.owl-dots {
		.owl-dot {
			span {
				border: 1px solid $primary;
			}
		}
	}
}

.fa-10x {
	font-size: 10em;
}

.owl-theme {
	.owl-nav {
		.owl-prev,
		.owl-next {
			margin: -25px;
		}
	}
}

.kurs-term-image {
	width: 100%;
	height: 600px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: top center;
	   object-position: top center;
	@include media-breakpoint-up(lg) {
		height: 510px;
	}
	@include media-breakpoint-up(xl) {
		height: 655px;
	}
}

.sanpool-accordion {
	.card {
		box-shadow: none !important;
		.card-header {
			cursor: pointer;
			background-color: $primary;
			color: $white;
			border-bottom: 5px solid $white;
		}
		.collapse {
			margin-top: -5px;
			border: 1px solid $primary;
			border-top: none;
			margin-bottom: 5px;
			.card-body {
				p {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
		&:last-of-type {
			.card-header {
				border-bottom: none;
			}
		}
	}
}

.img-kurs-cat,
.img-team-cat {
	height: 190px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

.img-team-cat {
	height: 280px;
}

.kurse-table-container {
	background-color: $primary;
	padding: 2rem;
}

.kurse-table {
	.kurse-table__head {
		white-space: nowrap;
		display: none;
		.kurse-table__head--item {
			font-weight: 700;
			display: inline-block;
			color: $white;
			margin-bottom: 1rem;
			text-align: center;
			&.kurse-table__head--item--1 {
				width: 5%;
			}
			&.kurse-table__head--item--2,
			&.kurse-table__head--item--3,
			&.kurse-table__head--item--4,
			&.kurse-table__head--item--5,
			&.kurse-table__head--item--6 {
				width: calc(80% / 5);
			}
			&.kurse-table__head--item--7 {
				width: 15%;
				padding-right: 35px;
			}
		}
	}
	.kurse-table__body {
		white-space: nowrap;
		overflow-x: hidden;
		.kurse-table__body--row {
			padding: 25px 0;
			border-bottom: 1px solid rgba(0,144,204, .4);
			position: relative;
		}
		.kurse-table__body--item {
			display: inline-block;
			white-space: normal;
			&.kurse-table__body--item--1 {
				width: 50px;
				position: absolute;
				bottom: 50%;
				left: 10px;
				transform: translateY(50%);
				svg {
					font-size: 1.5rem;
				}
			}
			&.kurse-table__body--item--3,
			&.kurse-table__body--item--6 {
				display: block;
				width: 95%;
				text-align: left;
				margin-left: 50px;
			}
			&.kurse-table__body--item--4 {
				margin-left: 50px;
			}
			&.kurse-table__body--item--2 {
				font-weight: 700;
				width: 90%;
				font-size: 1.5rem;
				margin-left: 50px;
			}
			&.kurse-table__body--item--5 {
				/* Abstände zwischen den Wochentagen */
				display: block;
				margin-left: 79px;
				span {
					&:not(:last-of-type) {
						&:after {
							content: ' / ';
						}
					}
				}
			}
			&.kurse-table__body--item--7 {
				width: 100%;
				display: block;
				margin-left: 50px;
				margin-top: 15px;
				.btn {
					width: 50%;
				}
			}
			&.kurse-table__body--item--fullwidth {
				width: 100%;
				padding: 2rem;
				text-align: center;
				font-size: 1.3rem;
			}
		}
		background-color: $white;
	}
	@include media-breakpoint-up(md) {
		.kurse-table__body {
			.kurse-table__body--row {
				padding: 15px 0;
			}
			.kurse-table__body--item {
				&.kurse-table__body--item--1 {
					width: 75px;
					left: 18px;
					svg {
						font-size: 2rem;
					}
				}
				&.kurse-table__body--item--4 {
					display: inline-block;
					&:after {
						content: ' - ';
					}
				}
				&.kurse-table__body--item--5 {
					display: inline-block;
					margin-left: 0;
				}
				&.kurse-table__body--item--2,
				&.kurse-table__body--item--3,
				&.kurse-table__body--item--4,
				&.kurse-table__body--item--6,
				&.kurse-table__body--item--7 {
					margin-left: 75px;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.kurse-table__head {
			display: block;
		}
		.kurse-table__body {
			.kurse-table__body--row {
				padding: 10px 0;
			}
			.kurse-table__body--item {
				text-align: center;
				white-space: nowrap;
				&.kurse-table__body--item--1 {
					width: 5%;
					position: static;
					transform: none;
					svg {
						font-size: 1.3333333333em;
					}
				}
				&.kurse-table__body--item--2,
				&.kurse-table__body--item--3,
				&.kurse-table__body--item--4,
				&.kurse-table__body--item--5,
				&.kurse-table__body--item--6 {
					width: calc(80% / 5);
					margin-left: 0;
				}
				&.kurse-table__body--item--3,
				&.kurse-table__body--item--6 {
					text-align: center;
				}
				&.kurse-table__body--item--2 {
					font-size: unset;
				}
				&.kurse-table__body--item--4 {
					&:after {
						display: none;
					}
				}
				&.kurse-table__body--item--3,
				&.kurse-table__body--item--4,
				&.kurse-table__body--item--5,
				&.kurse-table__body--item--6 {
					display: inline-block;
				}
				&.kurse-table__body--item--7 {
					display: inline-block;
					width: 15%;
					padding-right: 35px;
					margin-left: 0;
					margin-top: 0;
					.btn {
						width: 100%;
					}
				}
			}
		}
	}
}

#courseSubscribe {
	overflow: hidden;
	.inner {
		max-height: 0;
		visibility: hidden;
		transition: max-height .3s ease-out; 
		&.show {
			max-height: 9999px;
			visibility: visible;
		}
	}
}