body {
	overflow-x: hidden;
}

main {
	margin-top: 80px; /* Fixed Header Mobile */
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(sm) {
		margin-top: 120px; /* Fixed Header Desktop */
	}
}

button {
	&:focus {
		outline: none;
	}
}

.card {
	border: none;
	@extend .shadow-lg;
	.overlay-seen-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: visible;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
		.inner {
			padding: 1rem;
			position: absolute;
			bottom: 50%;
			text-align: center;
			width: 100%;
			right: 50%;
			-webkit-transform: translate(50%, 50%);
			        transform: translate(50%, 50%);
		}
	}
	.overlay-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		overflow: hidden;
		background-color: $primary;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
		.inner {
			padding: 1rem;
			position: absolute;
			bottom: 50%;
			right: 50%;
			width: 100%;
			-webkit-transform: translate(50%, 50%);
			        transform: translate(50%, 50%);
			p {
				margin-bottom: 0;
				color: $white;
			}
		}
	}
	&:hover {
		.overlay-seen-container {
			overflow: hidden;
			height: 0;
		}
		.overlay-container {
			overflow: visible;
			height: 100%;
		}
	}
}

/* Responsive Video Embed 16:9 */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.headerSlider {
	.item {
		height: 655px;
		overflow: hidden;
		position: relative;
		img {
			height: 100%;
			-o-object-fit: cover;
			   object-fit: cover;
			-o-object-position: center center;
			   object-position: center center;
		}
		.text-container {
			position: absolute;
			width: 40%;
			height: auto;
			bottom: 15%;
			padding: 2rem;
			z-index: 100;
			color: $white;
			background-color: rgba(0,0,0, .6);
			.inner {
				position: relative;
				width: 70%;
				z-index: 2;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
	.owl-dots {
		position: absolute;
		left: 33.5%;
		bottom: 15%;
		background-color: transparent;
		.owl-dot {
			span {
				-webkit-transition: all .5s linear;
				transition: all .5s linear;
				border: 1px solid $blue;
			}
			&.active,
			&:hover {
				span {
					border: 1px solid $white;
				}
			}
		}
	}
}

.owl-nav {
	margin: 0;
	position: absolute;
	bottom: 50%;
	width: 100%;
	-webkit-transform: translateY(50%);
			transform: translateY(50%);
	.owl-prev,
	.owl-next {
		margin: 0;
		position: absolute;
		bottom: 50%;
		-webkit-transform: translateY(50%);
		        transform: translateY(50%);
		&:hover {
			background: transparent !important;
		}
	}
	.owl-prev {
		left: -60px;
	}
	.owl-next {
		right: -60px;
	}
}

.shortlink-item {
	h5 {
		color: $white;
	}
}

.iconbox {
	&:hover {
		.fa-stack {
			-webkit-transition: 0.9s;
			transition: 0.9s;
			-webkit-transform: rotateY(180deg);
			        transform: rotateY(180deg);
		}
	}
}

.course-container {
	max-width: 100%;
	@include media-breakpoint-up(xl) {
		max-width: 1400px;
	}
}