header {
	.navbar-brand {
		img {
			width: 120px;
		}
	}
	.navbar {
		@include font-size(1.7rem);
		height: 80px;
		background-color: $primary;
		.navbar-collapse {
			.navbar-nav {
				.nav-item {
					.nav-link {
						color: $white;
						border-bottom: 4px solid transparent;
						-webkit-transition: border-bottom .5s ease-in;
						transition: border-bottom .5s ease-in;
						&:hover {
							border-bottom: 4px solid $white;
							-webkit-transition: border-bottom .5s ease-out;
							transition: border-bottom .5s ease-out;
						}
						&.dropdown-toggle {
							&:hover {
								border-bottom: 4px solid transparent;
							}
						}
					}
					&.active {
						.nav-link {
							border-bottom: 4px solid $white;
							-webkit-transition: border-bottom .5s ease-out;
							transition: border-bottom .5s ease-out;
						}
					}
					&:not(:last-of-type) {
						margin-right: 15px;
					}
				}
			}
			&.show {
				position: fixed;
				background-color: $white;
				width: 100%;
				left: 0;
				top: 80px;
				.navbar-nav {
					.nav-item {
						.nav-link {
							color: $primary;
							text-align: center;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(sm) {
		.navbar-brand {
			img {
				width: 250px;
			}
		}
		.navbar {
			.navbar-collapse {
				&.show {
					top: 120px;
				}
			}
		}
	}
}

#infoButtons {
	list-style: none;
	position: fixed;
	z-index: 9999;
	padding: 0;
	right: 0;
	bottom: 50%;
	-webkit-transform: translateY(50%);
			transform: translateY(50%);
	li {
		width: 230px;
		background-color: $gray-900;
		transition: all .2s linear;
		cursor: pointer;
		border: 1px solid $gray-900;
		position: relative;
		right: -190px;
		.inner {
			display: inline-block;
			width: 35px;
			height: 35px;
			text-align: center;
			position: relative;
			margin-left: 1px;
			svg {
				margin-top: 4px;
				color: $white;
				font-size: 1.6em;
			}
		}
		.info-text {
			a {
				font-size: 1.3rem;
				color: $white;
			}
			margin-left: 50px;
			position: absolute;
			bottom: 50%;
			max-width: calc(330px - 65px - 20px);
			-webkit-transform: translateY(50%);
					transform: translateY(50%);
			display: block;
		}
		&:not(:last-of-type) {
			margin-bottom: 5px;
		}
		&.active,
		&:hover {
			background-color: $gray-900;
			transition: all .2s linear;
			border: 1px solid $gray-900;
			border-right: none;
			right: 0;
			@extend .shadow;
		}
		&.blue {
			background-color: $primary;
			border: 1px solid $primary;
			&.active,
			&:hover {
				background-color: $primary;
				border: 1px solid $primary;
			}
		}
	}
	@include media-breakpoint-up(md) {
		li {
			right: -245px;
			width: 300px;
			.inner {
				width: 50px;
				height: 50px;
				svg {
					margin-top: 7px;
					font-size: 2em;
				}
			}
			.info-text {
				a {
					font-size: 2rem;
				}
				margin-left: 75px;
			}
		}
	}
}